.container .title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 6rem 0 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

.title .query-text {
  color: #f7d354;
}

.movies-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  max-width: 2200px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container .title {
    margin-top: 2rem;
  }
}
